In [36]:
print ("hello world")

hello world

In [37]:
print('shivani\'s "laptop"')

shivani's "laptop"

In [38]:
2=3

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3797959448.py, line 1)

In [ ]:
2+3

5

In [ ]:
10 * 'shivani'

'shivanishivanishivanishivanishivanishivanishivanishivanishivanishivani'

In [ ]:
print(r'c:\doc\shivani')

c:\doc\shivani

In [ ]:
x=3

In [ ]:
x+3

6

In [ ]:
y=3

In [ ]:
x+y

6

In [ ]:
x=9

In [ ]:
x+y

12

In [ ]:
name ="youtube"

In [ ]:
name

'youtube'

In [ ]:
name + "rocks"

'youtuberocks'

In [ ]:
name + ' rocks '

'youtube rocks '

In [ ]:
name[0]

'y'

In [ ]:
name[6]

'e'

In [ ]:
name[-1]

'e'

In [ ]:
name[-2]

'b'

In [ ]:
name[0:2]

'yo'

In [ ]:
name[1:4]

'out'

In [ ]:
name[1:]

'outube'

In [ ]:
name[:7]

'youtube'

In [ ]:
name[3:10]

'tube'

In [ ]:
name[0:3] = 'my'

TypeError: 'str' object does not support item assignment

In [ ]:
'my' + name[3:]

'mytube'

In [ ]:
myname = "Shivani Natani"

In [ ]:
len(myname)

14

In [39]:
nums = [25,12,95,14]

In [ ]:
nums

[25, 12, 95, 14]

In [44]:
nums[0]

25

In [45]:
nums[54\]

SyntaxError: unexpected character after line continuation character (1595051169.py, line 1)

In [46]:
nums[54]

IndexError: list index out of range

In [47]:
nume[-3]

NameError: name 'nume' is not defined

In [48]:
nums[-3]

12

In [52]:
nums[3:]

[14]

In [53]:
nums[-5]

IndexError: list index out of range

In [54]:
nums[-4]

25

In [55]:
names = ['shivani','john','kiran']

In [56]:
names

['shivani', 'john', 'kiran']

In [57]:
values = ['9.5','shivani',25]

In [62]:
merge_lists = [ nums, values ]

In [63]:
merge_lists

[[25, 12, 95, 14], ['9.5', 'shivani', 25]]

In [70]:
print = ("shivani's 'laptop'")

In [71]:
print

"shivani's 'laptop'"

In [69]:
print ('shivani\'s 'laptop')

SyntaxError: unterminated string literal (detected at line 1) (769070020.py, line 1)

In [72]:
nums.append (45)

In [73]:
nums

[25, 12, 95, 14, 45]

In [74]:
values.append (fork)

NameError: name 'fork' is not defined

In [75]:
nums.insert (2,77)

In [76]:
nums

[25, 12, 77, 95, 14, 45]

In [77]:
nums.remove (14)

In [78]:
nums

[25, 12, 77, 95, 45]

In [79]:
nums.pop(1)

12

In [80]:
nums

[25, 77, 95, 45]

In [81]:
nums.pop()

45

In [82]:
del num[2:]

In [83]:
nums

[25, 77, 95]

In [84]:
nums.extend([29,12,14,36])

In [85]:
nums

[25, 77, 95, 29, 12, 14, 36]

In [86]:
min (nums)

12

In [87]:
max(nums)

95

In [88]:
sum(nums)

288

In [95]:
dec:(nums)

In [90]:
nums.sort

In [91]:
nums

[25, 77, 95, 29, 12, 14, 36]

In [97]:
tup = (21,36,14,25)

In [98]:
tup

(21, 36, 14, 25)

In [99]:
tup [1]

36

In [100]:
tup[1 =33]

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1632081011.py, line 1)

In [101]:
tup.count

In [102]:
s = {22,25,14,21,5}

In [103]:
s

{5, 14, 21, 22, 25}

In [104]:
s = {25,14,98,63,75,98}

In [105]:
s

{14, 25, 63, 75, 98}

In [106]:
s.add(2,5)

TypeError: set.add() takes exactly one argument (2 given)

In [107]:
s.add(2)

In [108]:
s

{2, 14, 25, 63, 75, 98}

In [109]:
s.add(2:6)

SyntaxError: invalid syntax (2936071901.py, line 1)

In [110]:
s

{2, 14, 25, 63, 75, 98}

In [111]:
nums = {25,36,95,14,12,26}

In [112]:
nums

{12, 14, 25, 26, 36, 95}

In [113]:
nums.remove(95,14,12)

TypeError: set.remove() takes exactly one argument (3 given)

In [114]:
nums.remove(95)

In [115]:
nums

{12, 14, 25, 26, 36}

In [116]:
nums.remove('95','14','12')

TypeError: set.remove() takes exactly one argument (3 given)

In [118]:
del num(94,14,12)

SyntaxError: cannot delete function call (55419240.py, line 1)

In [119]:
del num(94,14,12)

SyntaxError: cannot delete function call (55419240.py, line 1)

In [120]:
del nums(95)

SyntaxError: cannot delete function call (1011535370.py, line 1)

In [121]:
del num(95)

SyntaxError: cannot delete function call (177446747.py, line 1)

In [123]:
del num(3)

SyntaxError: cannot delete function call (3801321676.py, line 1)

In [124]:
del num[2:]

In [125]:
nums

{12, 14, 25, 26, 36}

In [126]:
del num[95]

IndexError: list assignment index out of range

In [129]:
nums.remove (14)

In [130]:
nums

{12, 25, 26, 36}

In [131]:
data = {1:'shivani', 2:'kiran', 4:'harsh'}

In [132]:
data

{1: 'shivani', 2: 'kiran', 4: 'harsh'}

In [133]:
data[4]

'harsh'

In [134]:
data[1]

'shivani'

In [135]:
data.get(1)

'shivani'

In [142]:
data.get(3)

In [143]:
data.get(3)

In [144]:
print(data.get(3))

TypeError: 'str' object is not callable

In [145]:
data.get (1,"not found")

'shivani'

In [146]:
data.get (3,"not found")

'not found'

In [147]:
keys = ['Shiavni','Kiran','Harsh']
values =['python','java','Js']
data = dict(zip(keys,values))

In [148]:
data

{'Shiavni': 'python', 'Kiran': 'java', 'Harsh': 'Js'}

In [149]:
data['Kiran']

'java'

In [150]:
data['Arish'] = 'cs'

In [151]:
data

{'Shiavni': 'python', 'Kiran': 'java', 'Harsh': 'Js', 'Arish': 'cs'}

In [152]:
del data ['Harsh']

In [153]:
data

{'Shiavni': 'python', 'Kiran': 'java', 'Arish': 'cs'}

In [154]:
prog = {'JS':'Atoms', 'CS': 'VS', 'Python':['Pycharm','Sublime'], 'Java':{'JSE':' Netbeans','JEE':'Eclipse'}}

In [155]:
prog

{'JS': 'Atoms',
 'CS': 'VS',
 'Python': ['Pycharm', 'Sublime'],
 'Java': {'JSE': ' Netbeans', 'JEE': 'Eclipse'}}

In [156]:
prog['JS']

'Atoms'

In [158]:
prog['Python'][1]

'Sublime'

In [159]:
prog['java']

KeyError: 'java'

In [160]:
prog['java']

KeyError: 'java'

In [161]:
prog['Java']

{'JSE': ' Netbeans', 'JEE': 'Eclipse'}

In [165]:
prog['Java'],['JEE']

({'JSE': ' Netbeans', 'JEE': 'Eclipse'}, ['JEE'])