In [36]:
print ("hello world")

hello world

In [37]:
print('shivani\'s "laptop"')

shivani's "laptop"

In [38]:
2=3

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3797959448.py, line 1)

In [ ]:
2+3

5

In [ ]:
10 * 'shivani'

'shivanishivanishivanishivanishivanishivanishivanishivanishivanishivani'

In [ ]:
print(r'c:\doc\shivani')

c:\doc\shivani

In [ ]:
x=3

In [ ]:
x+3

6

In [ ]:
y=3

In [ ]:
x+y

6

In [ ]:
x=9

In [ ]:
x+y

12

In [ ]:
name ="youtube"

In [ ]:
name

'youtube'

In [ ]:
name + "rocks"

'youtuberocks'

In [ ]:
name + ' rocks '

'youtube rocks '

In [ ]:
name[0]

'y'

In [ ]:
name[6]

'e'

In [ ]:
name[-1]

'e'

In [ ]:
name[-2]

'b'

In [ ]:
name[0:2]

'yo'

In [ ]:
name[1:4]

'out'

In [ ]:
name[1:]

'outube'

In [ ]:
name[:7]

'youtube'

In [ ]:
name[3:10]

'tube'

In [ ]:
name[0:3] = 'my'

TypeError: 'str' object does not support item assignment

In [ ]:
'my' + name[3:]

'mytube'

In [ ]:
myname = "Shivani Natani"

In [ ]:
len(myname)

14

In [39]:
nums = [25,12,95,14]

In [ ]:
nums

[25, 12, 95, 14]

In [44]:
nums[0]

25

In [45]:
nums[54\]

SyntaxError: unexpected character after line continuation character (1595051169.py, line 1)

In [46]:
nums[54]

IndexError: list index out of range

In [47]:
nume[-3]

NameError: name 'nume' is not defined

In [48]:
nums[-3]

12

In [52]:
nums[3:]

[14]

In [53]:
nums[-5]

IndexError: list index out of range

In [54]:
nums[-4]

25

In [55]:
names = ['shivani','john','kiran']

In [56]:
names

['shivani', 'john', 'kiran']